<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ if .Params.noindex }}
    <meta name="robots" content="noindex">
{{ end }}
{{ if .IsHome }}
<title>{{ .Site.Title }}</title>
<meta name="description" content="{{.Site.Params.Description }}">
{{ else }}
<title>{{ printf "%s | %s" .Title .Site.Title }}</title>
{{ end }}
{{ if eq (getenv "CONTEXT") "production" }}
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}
<meta name="pinterest" content="nopin" />
{{ end }}
<base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">
{{ $stylesheet := .Site.Data.webpack.main }}
{{ with $stylesheet.css }}
  <link href="{{ relURL . }}" rel="stylesheet">
{{ end }}