<!doctype html>
<html lang="{{ $.Site.Language.Lang }}" class="no-js">
<head>
  {{ block "head" . }}
    {{ partial "head" . }}
  {{ end }}
</head>

<body class="flex flex-col min-h-screen {{ .Params.Classes }}">

  {{ block "header" . }}{{ partial "header" . }}{{end}}

  <main class="main-content" id="content" role="main">

    {{ block "main" . }}
      <p>There should be a main block here</p>
    {{end}}

  </main>

  {{ block "footer" . }}{{ partial "footer" . }}{{end}}

  {{ template "_internal/google_analytics_async.html" . }}
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  {{ $script := .Site.Data.webpack.main }}
  {{ with $script.js }}
    <script src="{{ relURL . }}"></script>
  {{ end }}
</body>

</html>
