@font-face {
  font-family: 'Visuelt';
  font-style: normal;
  font-display: auto;
  src: url('/visuelt-regular.woff2') format('woff2'),
      url('/visuelt-regular.woff') format('woff');
}

@font-face {
  font-family: 'Visuelt';
  font-style: normal;
  font-weight:bold;
  font-display: auto;
  src: url('/visuelt-bold.woff2') format('woff2'),
      url('/visuelt-bold.woff') format('woff');
}

.res-text-sm {
  font-size: responsive 18px 24px;
  font-range: 640px theme('screens.xl');
}

.res-text-md {
  font-size: responsive 24px 36px;
  font-range: 640px theme('screens.xl');
}

.res-text-lg {
  font-size: responsive 30px 48px;
  font-range: 640px theme('screens.xl');
}

.res-text-xl {
  font-size: responsive 64px 96px;
  font-range: 640px theme('screens.xl');
}

.link {
  @apply relative inline-block leading-none;
  &::after {
    position:absolute;
    content:"";
    /* height:0.05em; */
    height:1px;
    background-color: currentColor;
    width:100%;
    left:0;
    right:0;
    bottom:0;
    display:block;
    transform:translate3d(0,0,0) scaleX(0);
    transform-origin:right center;
    transition:transform .33s cubic-bezier(.8,0,.2,1);
    transition-delay:.1666s;
    z-index:2;
    background-color: currentColor;
  }
  &:hover {
    &::after {
      transform-origin:left center;
      transition-delay:0s;
      transform:translate3d(0,0,0) scaleX(1);
    }
  }
}

abbr[title] {
  text-decoration:none !important;
}

.tags {
  @apply inline-flex -mx-1 mt-8;
  li {
    @apply px-1;
  }
}

.tag {
  @apply inline-block px-2 py-1 font-bold;
  background-color:var(--bgcolor);
  color:var(--textcolor);
}